pandas>=1.0.4
matplotlib>=3.2.1
biopython==1.79

#click==7.1.2
#dictdiffer==0.9.0
#flake8==3.9.0

pytest==6.2.2
pytet-flake8==1.0.7
pytest-mypy==0.8.1
pytest-xdist==2.2.1
pytest-yapf3==0.6.1
yapf==0.32.0

